<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingmeng.qiuzhidi.mapper.UmsMemberRecruitMapper">
  <resultMap id="BaseResultMap" type="com.qingmeng.qiuzhidi.model.UmsMemberRecruit">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="recruit_id" jdbcType="BIGINT" property="recruitId" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="delivery_date" jdbcType="TIMESTAMP" property="deliveryDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, recruit_id, member_id, delivery_date
  </sql>
  <select id="selectByExample" parameterType="com.qingmeng.qiuzhidi.model.UmsMemberRecruitExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_member_recruit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ums_member_recruit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ums_member_recruit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qingmeng.qiuzhidi.model.UmsMemberRecruitExample">
    delete from ums_member_recruit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qingmeng.qiuzhidi.model.UmsMemberRecruit">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_member_recruit (recruit_id, member_id, delivery_date
      )
    values (#{recruitId,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, #{deliveryDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qingmeng.qiuzhidi.model.UmsMemberRecruit">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_member_recruit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recruitId != null">
        recruit_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="deliveryDate != null">
        delivery_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recruitId != null">
        #{recruitId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="deliveryDate != null">
        #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qingmeng.qiuzhidi.model.UmsMemberRecruitExample" resultType="java.lang.Long">
    select count(*) from ums_member_recruit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ums_member_recruit
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.recruitId != null">
        recruit_id = #{record.recruitId,jdbcType=BIGINT},
      </if>
      <if test="record.memberId != null">
        member_id = #{record.memberId,jdbcType=BIGINT},
      </if>
      <if test="record.deliveryDate != null">
        delivery_date = #{record.deliveryDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ums_member_recruit
    set id = #{record.id,jdbcType=BIGINT},
      recruit_id = #{record.recruitId,jdbcType=BIGINT},
      member_id = #{record.memberId,jdbcType=BIGINT},
      delivery_date = #{record.deliveryDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qingmeng.qiuzhidi.model.UmsMemberRecruit">
    update ums_member_recruit
    <set>
      <if test="recruitId != null">
        recruit_id = #{recruitId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="deliveryDate != null">
        delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qingmeng.qiuzhidi.model.UmsMemberRecruit">
    update ums_member_recruit
    set recruit_id = #{recruitId,jdbcType=BIGINT},
      member_id = #{memberId,jdbcType=BIGINT},
      delivery_date = #{deliveryDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectRecruitIdByMemberId" resultType="java.lang.Long" parameterType="java.lang.Long">
        select recruit_id from ums_member_recruit where member_id = #{memberId}
  </select>
  <select id="selectRecruitIdByResumeIdAndStatus" resultType="java.lang.Long">
        select recruit_id from ums_recruit_resume_relation where type = #{status} and resume_id = #{resumeId}
  </select>
</mapper>
