<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingmeng.qiuzhidi.mapper.UmsPushPeopleMapper">
  <resultMap id="BaseResultMap" type="com.qingmeng.qiuzhidi.model.UmsPushPeople">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="push_people_name" jdbcType="VARCHAR" property="pushPeopleName" />
    <result column="push_people_position" jdbcType="VARCHAR" property="pushPeoplePosition" />
    <result column="push_people_company" jdbcType="VARCHAR" property="pushPeopleCompany" />
    <result column="push_people_descripes" jdbcType="VARCHAR" property="pushPeopleDescripes" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, push_people_name, push_people_position, push_people_company, push_people_descripes
  </sql>
  <select id="selectByExample" parameterType="com.qingmeng.qiuzhidi.model.UmsPushPeopleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_push_people
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ums_push_people
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ums_push_people
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qingmeng.qiuzhidi.model.UmsPushPeopleExample">
    delete from ums_push_people
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qingmeng.qiuzhidi.model.UmsPushPeople">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_push_people (push_people_name, push_people_position, 
      push_people_company, push_people_descripes)
    values (#{pushPeopleName,jdbcType=VARCHAR}, #{pushPeoplePosition,jdbcType=VARCHAR}, 
      #{pushPeopleCompany,jdbcType=VARCHAR}, #{pushPeopleDescripes,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qingmeng.qiuzhidi.model.UmsPushPeople">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_push_people
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pushPeopleName != null">
        push_people_name,
      </if>
      <if test="pushPeoplePosition != null">
        push_people_position,
      </if>
      <if test="pushPeopleCompany != null">
        push_people_company,
      </if>
      <if test="pushPeopleDescripes != null">
        push_people_descripes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pushPeopleName != null">
        #{pushPeopleName,jdbcType=VARCHAR},
      </if>
      <if test="pushPeoplePosition != null">
        #{pushPeoplePosition,jdbcType=VARCHAR},
      </if>
      <if test="pushPeopleCompany != null">
        #{pushPeopleCompany,jdbcType=VARCHAR},
      </if>
      <if test="pushPeopleDescripes != null">
        #{pushPeopleDescripes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qingmeng.qiuzhidi.model.UmsPushPeopleExample" resultType="java.lang.Long">
    select count(*) from ums_push_people
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ums_push_people
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.pushPeopleName != null">
        push_people_name = #{record.pushPeopleName,jdbcType=VARCHAR},
      </if>
      <if test="record.pushPeoplePosition != null">
        push_people_position = #{record.pushPeoplePosition,jdbcType=VARCHAR},
      </if>
      <if test="record.pushPeopleCompany != null">
        push_people_company = #{record.pushPeopleCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.pushPeopleDescripes != null">
        push_people_descripes = #{record.pushPeopleDescripes,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ums_push_people
    set id = #{record.id,jdbcType=BIGINT},
      push_people_name = #{record.pushPeopleName,jdbcType=VARCHAR},
      push_people_position = #{record.pushPeoplePosition,jdbcType=VARCHAR},
      push_people_company = #{record.pushPeopleCompany,jdbcType=VARCHAR},
      push_people_descripes = #{record.pushPeopleDescripes,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qingmeng.qiuzhidi.model.UmsPushPeople">
    update ums_push_people
    <set>
      <if test="pushPeopleName != null">
        push_people_name = #{pushPeopleName,jdbcType=VARCHAR},
      </if>
      <if test="pushPeoplePosition != null">
        push_people_position = #{pushPeoplePosition,jdbcType=VARCHAR},
      </if>
      <if test="pushPeopleCompany != null">
        push_people_company = #{pushPeopleCompany,jdbcType=VARCHAR},
      </if>
      <if test="pushPeopleDescripes != null">
        push_people_descripes = #{pushPeopleDescripes,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qingmeng.qiuzhidi.model.UmsPushPeople">
    update ums_push_people
    set push_people_name = #{pushPeopleName,jdbcType=VARCHAR},
      push_people_position = #{pushPeoplePosition,jdbcType=VARCHAR},
      push_people_company = #{pushPeopleCompany,jdbcType=VARCHAR},
      push_people_descripes = #{pushPeopleDescripes,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>